---
const { title, lastItem, children } = Astro.props;
---

<li @click.away="open = false" class="relative" x-data="{ open: false }">
  <button
    @click="open = !open"
    class="flex items-center gap-1 w-full lg:w-auto lg:px-3 py-2 text-white hover:text-rose-400 transition-colors duration-600">
    <span>{title}</span>

  </button>
</li>
