---
import { Image } from "@astrojs/image/components";
import heroImage from "assets/hero.svg";
import Link from "@components/ui/link.astro";
---

<main
  class="border-t-4 border-rose-400 flex items-center justify-start mt-6 pt-11 pb-11"
>
  <div class="">
    <h1
      class="text-white text-4xl lg:text-5xl xl:text-6xl font-bold lg:tracking-tight"
    >
      Unlock the Potential
    </h1>
    <h1
      class="text-rose-400 text-3xl lg:text-4xl xl:text-5xl font-bold lg:tracking-tight"
    >
      with Nermal's Tools
    </h1>
  </div>
</main>
